{%extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{%block content%}
<h1>Say you had only 60 seconds <br/>to impress someone by  <br/>peaching something meanigful, <br/> what would that be?</h1>
<a href="/pitches"> <button>Lets get you started</button> </a>
<img src="https://images.unsplash.com/photo-1647137733683-768846917a63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
{%endblock%}
