{%extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{%block content%}
<div class="row">
    <div class="col-3">
<h1>Say you had only 60 seconds <br/>to impress someone by  <br/>peaching something meanigful, <br/> what would that be?</h1>
    </div>
    <div class="col-6">
<img src="https://images.unsplash.com/photo-1647137733683-768846917a63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" width="400" alt=""> <br> <br>
    </div>
</div>

<a href="/pitches"> <button>Lets get you started</button> </a>

{%endblock%}
